/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/*header*/
header {
    background-color: blue;
    margin: 0;
    padding: 10px;
}

.header-container {
    width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 20px;

}

.login {
    background-color: white;
    padding: 10px 25px;
    border-radius: 40px;
    color: black;


}

/*main*/
.section.blue {
    padding: 0px;
    display: flex;


}

.section.white {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;

}

.section.grey {
    background-color: lightgrey;
    padding: 10px;
    display: flex;
    justify-content: center;

}


.section.lightgrey {
    background-color: lightgrey;
    padding: 10px;
    display: flex;
    justify-content: center;
    min-height: 200px;
}

.section.black {
    background-color: lightgrey;
    padding: 20px;
    display: flex;
    justify-content: center;

}

.footer {
    background-color: black;
    margin: 0;
    padding: 10px;
}




.box.violet {
    width: 0 auto;
    display: block;
    margin: 0 auto;
    max-block-size: auto;


}

.box.blue {
    max-block-size: auto;
    display: flex;

}

.box.pink {

    width: 200px;

    display: flex;

}

.box.green {

    width: 500px;


}

.box.red {
    display: flex;
    width: 200px;


}

.box.cyan {

    width: 300px;


}

.download {
    background-color: blue;
    padding: 10px 25px;
    border-radius: 40px;
    color: black;

}

.foot {
    background-color: cornflowerblue;
    width: 600px;
    margin: auto;
    align-content: flex-end;
}